<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="d-flex flex-column" style="align-items: center;">
                <div class="label">
                     <div class="d-flex justify-content-between" style="width: 150px;">
                        <img src="../../assets/img/image-4@2x.png" alt="" style="width: 20px;height: 20px;margin-top: 7px;">
                        <div class="title">Full course</div>
                    </div>
                </div>
                <div class="label" style="width: 318px;">
                    <div class="d-flex justify-content-between" style="width: 250px;">
                       <img src="../../assets/img/image-4@2x.png" alt="" style="width: 20px;height: 20px;margin-top: 7px;">
                       <div class="title">Network Marketing</div>
                   </div>
               </div>
    
            </div>
        </div>
    
        <div class="col-sm-6">
            <div class="d-flex flex-column" style="align-items: center;">
                <img src="../../assets/img/undraw-online-learning-re-qw08-1@1x.svg" alt="">
                <div class="course-title">Get more with our premium </div>
            </div>
        </div>
    
        <div class="col-sm-3">
            <div class="d-flex flex-column" style="align-items: center;">
               <div class="label">
                <div class="d-flex justify-content-between" style="width: 170px;">
                   <img src="../../assets/img/image-4@2x.png" alt="" style="width: 20px;height: 20px;margin-top: 7px;">
                   <div class="title">Invite Friends</div>
               </div>
           </div>
    
           <div class="label" style="width: 305px;">
            <div class="d-flex justify-content-between" style="width: 250px;">
               <img src="../../assets/img/image-4@2x.png" alt="" style="width: 20px;height: 20px;margin-top: 7px;">
               <div class="title">Earn extra Income</div>
           </div>
       </div>
    
            </div>
        </div>
    
    </div>
    
    <div class="row" style="margin-top: 60px;margin-bottom: 60px;">
        <div class="d-flex justify-content-evenly">
            
                <div class="label2 d-flex flex-column">
                    <div class="plan-details">Basic Plan</div>
                    <div class="plan-details" style="margin-top: 100px;">Rs. 4999</div>
                </div>
            
            
                <div class="label2 d-flex flex-column">
                    <div class="plan-details">Advanced Plan</div>
                    <div class="plan-details" style="margin-top: 100px;">Rs. 14999</div>
                </div>
            
            
                <div class="label2 d-flex flex-column">
                    <div class="plan-details">Fortraider Plan</div>
                    <div class="plan-details" style="margin-top: 100px;">Rs. 24999</div>
                </div>
            
        </div>
    </div>

</div>