<div class="banner">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="text-center title" style="margin-top: 50px;">Refer your Friends, Colleagues, Relatives & earn some extra income!</div>
        </div>

        <div class="row" style="padding-left: 6%;padding-right: 6%;margin-top: 80px;margin-bottom: 80px;">
            <div class="col-sm-6">
                <p class="subs" style="color: white;">
                    Extend your benefits of Learning and Earning through MoneySaga courses by referring your Near and Dear Ones. Everyone you care about. 
                    Join the Outstanding courses provided by MoneySaga Consultancy Services LLP and Grab the Opportunity to Start your MoneySaga Franchisee Totally Free of Cost. 
                    Earn Handsome Income, Awards and Rewards from the referrals that subscribe the courses.
                        
                </p>
            </div>

            <div class="col-sm-6">
                <div class="d-flex justify-content-between f1">
                    <div class="subs" style="margin-top: 20px;">https://bitly.com/</div>
                    <button class="btn" style="margin-top: 2.5px;">Copy Link</button>
                </div>
            </div>
        </div>
    </div>
</div>