<div class="banner">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="text-center title" style="margin-top: 50px;">Refer your friends & earn some extra income!</div>
        </div>

        <div class="row" style="padding-left: 6%;padding-right: 6%;margin-top: 80px;margin-bottom: 80px;">
            <div class="col-sm-6">
                <p class="subs" style="color: white;">Lörem ipsum rede mar. Jåpån vast ining ben de benybel. Cynception nettokrati viss dogen vire. Krosamma per helarade mypes. Vaktigt överklassafari ol gusol. 
                    Seminisade makrore guheten teck vamavis. Parar orar med </p>
            </div>

            <div class="col-sm-6">
                <div class="d-flex justify-content-between f1">
                    <div class="subs" style="margin-top: 20px;">https://bitly.com/</div>
                    <button class="btn" style="margin-top: 2.5px;">Copy Link</button>
                </div>
            </div>
        </div>
    </div>
</div>