<div class="container" id="c1">
    <div class="row">
        <div class="col-sm-6">
            <div class="d-flex flex-column justify-content-center" style="align-items: center;margin-top: 50px;">
                <div class="title">Enter Personal Details</div>
                <div class="d-flex justify-content-center" style="border: 1px solid #CE992F;width: 166px;height:166px;border-radius: 80px;margin-top: 65px;">
                    <img style="width: 68px;height: 85px;margin-top: 40px;" src="../../assets/img/iconly-light-outline-profile@2x.svg" alt="">
                </div>

                <div class="subs">Add or change Profile Photo</div>

                <div class="box" style="margin-top: 65px;">
                    <div class="d-flex justify-content-between" style="width: 250px;">
                        <div class="subs" style="color: white;">Joined On:</div>
                        <div class="subs" style="color: white;">12/05/2022</div>
                    </div>
                    <div class="d-flex justify-content-between" style="width: 250px;">
                        <div class="subs" style="color: white;">Position:</div>
                        <div class="subs" style="color: white;">Left</div>
                    </div>
                    <div class="d-flex justify-content-between" style="width: 250px;">
                        <div class="subs" style="color: white;">Payment:</div>
                        <div class="subs" style="color: white;">Rs. 2999</div>
                    </div>
                    <div class="d-flex justify-content-between" style="width: 250px;">
                        <div class="subs" style="color: white;">Expiry Date:</div>
                        <div class="subs" style="color: white;">12/05/2022</div>
                    </div>
                    <div class="d-flex justify-content-between" style="width: 250px;">
                        <div class="subs" style="color: white;">Invited By:</div>
                        <div class="subs" style="color: white;">T12345</div>
                    </div>
                    <div class="subs">These details cannot be changed</div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="d-flex flex-column f1" >
                <label for="dob" style="color: white;margin-top: 50px;">Your Date Of Birth</label>
                <input type="text" class="input-box" placeholder="20/07/1989" name="dob">
                <label for="dob" style="color: white;margin-top: 20px;">Nominee Name</label>
                <input type="text" class="input-box"  placeholder="Aman Shankar">
                <label for="dob" style="color: white;margin-top: 20px;">Nominee Mobile Number</label>
                <input type="text" class="input-box"  placeholder="+91 900000000">
                <label for="dob" style="color: white;margin-top: 20px;">Nominee Name</label>
                <input type="text" class="input-box" placeholder="Ananthnag@gmail.com">
                <button type="submit" class="btn" style="margin-top: 50px;" (click)="btnClick('c1')">Save & Next</button>
            </div>
        </div>

    </div>
</div>

<div class="container" id="c2" style="padding-left: 6%; padding-right: 6%;">
    
    <div class="row">
        <div class="col-sm-6">
            <div class="title">Enter Bank Details</div>
            <div class="d-flex flex-column f1" >
                <label for="dob" style="color: white;margin-top: 50px;">Account Number</label>
                <input type="text" class="input-box" placeholder="+91 900000000" name="dob">
                <label for="dob" style="color: white;margin-top: 20px;">IFSC</label>
                <input type="text" class="input-box"  placeholder="SBIN001233">
                <button type="submit" class="btn" style="margin-top: 50px;" (click)="btnClick('c2')">Save & Next</button>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="d-flex flex-column f1" >
                <label for="dob" style="color: white;margin-top: 50px;">Account Name</label>
                <input type="text" class="input-box" placeholder="Ananth Nag" name="dob">
                <label for="dob" style="color: white;margin-top: 20px;">Branch</label>
                <input type="text" class="input-box"  placeholder="Delhi">
            </div>
        </div>

    </div>
</div>

<div class="container" id="c3" style="padding-left: 6%; padding-right: 6%;">
    
    <div class="row">
        <div class="col-sm-6">
            <div class="title">Enter Your Address Details</div>
            <div class="d-flex flex-column f1" >
                <label for="dob" style="color: white;margin-top: 50px;">House Number</label>
                <input type="text" class="input-box" placeholder="+91 900000000" name="dob">
                <label for="dob" style="color: white;margin-top: 20px;">Street Name</label>
                <input type="text" class="input-box"  placeholder="Dhanwantry Colony">
                <label for="dob" style="color: white;margin-top: 20px;">City</label>
                <input type="text" class="input-box"  placeholder="Mumbai">
                <button type="submit" class="btn" style="margin-top: 50px;" (click)="btnClick('c3')">Save & Next</button>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="d-flex flex-column f1" >
                <label for="dob" style="color: white;margin-top: 50px;">Zip Code</label>
                <input type="text" class="input-box" placeholder="202014" name="dob">
                <label for="dob" style="color: white;margin-top: 20px;">State</label>
                <input type="text" class="input-box"  placeholder="Maharashtra">
                <label for="dob" style="color: white;margin-top: 20px;">Country</label>
                <input type="text" class="input-box"  placeholder="India">
            </div>
        </div>

    </div>
</div>

<div class="container" id="c4" style="padding-left: 6%; padding-right: 6%;">
    
    <div class="row">
        <div class="col">
            <div class="title">Enter Your Address Details</div>
            <div class="kyc">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-flex flex-column" style="max-width: 500px;" >
                            <label for="dob" style="color: white;margin-top: 50px;">Aadhar Number</label>
                            <input type="text" class="input-box" placeholder="123456789546" name="dob">
        
                            <label for="dob" style="color: white;margin-top: 50px;">Upload Documents</label>
        
                            <div class="d-flex justify-content-between">
                                <div class="upload d-flex flex-column justify-content-center" style="align-items: center;">
                                    <img src="../../assets/img/image-15@2x.png" alt="">
                                    <div class="subs">Aadhar card front</div>
                                </div>
                                <div class="upload d-flex flex-column justify-content-center" style="align-items: center;">
                                    <img src="../../assets/img/image-15@2x.png" alt="">
                                    <div class="subs">Aadhar card back</div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
        
            <div class="kyc" style="margin-top: 65px;">
                <div class="row">
                    <div class="col-sm-12">
        
                        <div class="d-flex flex-column" style="max-width: 500px;" >
                            <label for="dob" style="color: white;margin-top: 50px;">PAN Number</label>
                            <input type="text" class="input-box" placeholder="123456789546" name="dob">
        
                            <label for="dob" style="color: white;margin-top: 50px;">Upload Documents</label>
        
                            <div class="d-flex justify-content-between">
                                <div class="upload d-flex flex-column justify-content-center" style="align-items: center;">
                                    <img src="../../assets/img/image-15@2x.png" alt="">
                                    <div class="subs">PAN card front</div>
                                </div>
                                <div class="upload d-flex flex-column justify-content-center" style="align-items: center;">
                                    <img src="../../assets/img/image-15@2x.png" alt="">
                                    <div class="subs">PAN card back</div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
        
            <div class="kyc" style="margin-top: 65px;margin-bottom: 65px;">
                <div class="row">
                    <div class="col-sm-12">
        
                        <div class="d-flex flex-column" style="max-width: 500px;" >
        
                            <label for="dob" style="color: white;margin-top: 50px;margin-bottom: 20px;">Upload Bank passbook / Cross cheque</label>
        
                            <div class="d-flex justify-content-between">
                                <div class="upload d-flex flex-column justify-content-center" style="align-items: center;">
                                    <img src="../../assets/img/image-15@2x.png" alt="">
                                    <div class="subs">Aadhar card front</div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
        
            <button type="submit" class="btn" style="margin-top: 50px;" (click)="btnClick('c4')" routerLink="/profile-details">Submit</button>
        </div>
    </div>
</div>
