<div class="banner">
  <div class="container" style="padding-left: 3%;padding-right: 3%;">
    <div class="row">
      <div class="col-sm-7" >
        <div class="flex-column justify-content-center" style="align-items: center;">
          <h1 class="title" style="width: 300px;">Congratulations &amp; Welcome</h1>
          <p style="color: white;font-family:poppins;font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;max-width: 528px;height: 220px;margin-top: 20px;">
            Lörem ipsum rede mar. Jåpån vast ining ben de benybel. Cynception nettokrati viss dogen vire. Krosamma per helarade mypes.
            Vaktigt överklassafari ol gusol. <br />Seminisade makrore guheten teck vamavis. Parar orar med teväst etnotos. Köttrymden.
            Poment petabyte på nytuk. Laktig exokåskapet odat nyr prelig. <br />Hemist ding meganer. Prektiga label kvasiktig anament
            exovis. Vimenösam. Byprese dipåns. Sugrörsseende valig kvasiskapet jag börenat.
          </p>
          
            <a class=" lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200 menus" href="#" style="background: #CE992F;border-radius: 0px 30px 30px 20px;font-family: poppins;margin-top: 20px;">Get Started</a>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="d-flex flex-column">
          <img class="img1" src="../../assets/img/rectangle-969@2x.png" alt="">
          <img class="img2" src="../../assets/img/rectangle-971@2x.png" alt="">
          <img class="img3" src="../../assets/img/rectangle-970@2x.png" alt="">
          <img class="img4" src="../../assets/img/rectangle-972@2x.png" alt="">
        </div>
    </div>
    </div>
  </div>
</div>
    <div class="text-center main-text" style="color: #CE992F;margin-top: 50px;">Our life Changing Educational Products</div>
    <br><br><br><br>

    <div class="row" style="padding-left: 40px;padding-right: 40px;">
        <div class="col-sm-6">
            <img src="../../assets/Rectangle 975.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="d-flex flex-column" style="justify-content:start;height: 200px;">
                <div class="main-text">Get the top quality financial course</div>
                <p style="color: white;font-family:poppins">Lörem ipsum rede mar. Jåpån vast ining ben de benybel. Cynception nettokrati viss dogen vire. Krosamma per helarade mypes. Vaktigt överklassafari ol gusol. 
                    Seminisade makrore guheten teck vamavis. Parar orar med 
                    </p>
            </div>
        </div>
    </div>

    <br><br><br><br>

    <div class="row" style="padding-left: 40px;padding-right: 40px;">
        <div class="col-sm-6">
            <div class="d-flex flex-column" style="justify-content:start;height: 200px;">
                <div class="main-text">Learn anywhere, anytime</div>
                <p style="color: white;font-family:poppins">Lörem ipsum rede mar. Jåpån vast ining ben de benybel. Cynception nettokrati viss dogen vire. Krosamma per helarade mypes. Vaktigt överklassafari ol gusol. 
                    Seminisade makrore guheten teck vamavis. Parar orar med 
                    </p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="../../assets/Rectangle 976.png" alt="">
        </div>
    </div>

    <div class="text-center main-text" style="color: #CE992F;margin-top: 70px;margin-bottom: 70px;">Educational courses launching soon</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3" style="position: relative;">
      <img src="../../assets/Rectangle 29.png" alt="">

      <img src="../../assets/Rectangle 32.png" alt="" style="margin-top: 40px;position: relative;left: 14%;">
    </div>

    <div class="col-sm-6" style="position: relative;left: 6%;">
        <div class="box d-flex flex-column justify-content-center" style="margin-top: 10%;">
          <div class="t1">1. Start Market Trading course</div>
          <div class="t1">2. Personal and accidental insurance</div>
          <div class="t1">3. Inflation proof investments</div>
          <div class="t1">4. Achieving financial freedom</div>
          <div class="t1">5. Financial planning for teens and youth</div>
          <div class="t1">6. Daily rituals for wealthy lifestyle</div>
        </div>
        <img src="../../assets/Rectangle 32.png" alt="" style="margin-top: 40px;position: relative;left: 12%;">
    </div>

    <div class="col-sm-3">
      <img src="../../assets/Rectangle 29.png" alt="">

      <img src="../../assets/Rectangle 32.png" alt="" style="margin-top: 40px;position: relative;right: 14%;">
    </div>

  </div>
</div>

<div class="text-center main-text" style="color: #CE992F;margin-top: 70px;margin-bottom: 70px;">Current Updates</div>

<div class="container" style="padding-left: 8%;
padding-right: 8%;">
  <div class="update">
    <div class="row">
      <div class="col-sm-6">
        <img src="../../assets/Rectangle 31.png" alt="" style="max-width: 492px;max-height: 398px;">
      </div>

      <div class="col-sm-6">
        <div class="title" style="font-size: 40px;">Finance educate event at Goa</div>
        <div class="subtitle">Venue : LB auditorium, East street, Goa</div>
        <div class="subtitle">Date : 16th September, 2022</div>
        <div class="subtitle">Chief guest : Sir Javed Ali, CEO of Grow finance Ltd.</div>
        <p style="color: white;font-family:poppins;margin-top: 20px;">Lörem ipsum rede mar. Jåpån vast ining ben de benybel. Cynception nettokrati viss dogen vire. Krosamma per helarade mypes. Vaktigt överklassafari ol gusol. 
          Seminisade makrore guheten teck vamavis. Parar orar med 
          </p>
      </div>
    </div>
  </div>
</div>

<!--CAROUSEL-->

<div class="container-xl" style="margin-top: 50px;margin-bottom: 50px;">
	<div class="row">
		<div class="col-lg-8 mx-auto">
			<h2>Testimonials</h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>   
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="img-box"><img src="" alt=""></div>
						<p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
						<p class="overview"><b>Shivanya Gaikwad</b>, Advanced Course User</p>
					</div>
					<div class="carousel-item">
						<div class="img-box"><img src="" alt=""></div>
						<p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
						<p class="overview"><b>Shivanya Gaikwad</b>, Advanced Course User</p>
					</div>
					<div class="carousel-item">
						<div class="img-box"><img src="" alt=""></div>
						<p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget rutrum.</p>
						<p class="overview"><b>Shivanya Gaikwad</b>, Advanced Course User</p>
					</div>
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control-next" href="#myCarousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
</div>

<!--END OF CAROUSEL-->


<div class="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-7" >
        <div class="flex-column justify-content-center" style="align-items: center;">
          <h1 class="title2">Contact Us</h1>
          <div class="subs">Got any queries? send us a message. Our team will contact you in a moment</div>
          <div class="d-flex justify-content-between" style="width: 450px;margin-top: 50px;">
            <input class="inp" type="text" placeholder="First Name">
            <input class="inp" type="text" placeholder="Last Name">
          </div>
          <div class="d-flex justify-content-between" style="width: 450px;margin-top: 20px;">
            <input class="inp" type="text" placeholder="Email">
            <input class="inp" type="text" placeholder="Mobile No.">
          </div>
          <textarea class="inp" name="description" id="desc" cols="30" rows="30" placeholder="Send Message"></textarea>
        </div>
        <a class=" lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200 menus" href="#" style="background: #CE992F;border-radius: 0px 30px 30px 20px;font-family: poppins;margin-top: 20px;margin-bottom: 50px;">Get Started</a>
    </div>
  </div>
</div>
</div>
