<div class="block" (click)="fopenNav()" style="padding-left: 4%;padding-top: 4%">
    <div>
            <div  style="color: white;">
                <!-- <img src="../../assets/Vector1.png" alt=""> -->
                <i class="fa fa-bars fa-lg"></i>
            </div>
    </div>
</div>
<div class="container" id="mySidenav">
    <img src="../assets/image 2.png" alt="" style="margin-bottom: 80px;" class="closebtn" (click)="closeNav()">
    <!-- <a href="javascript:void(0)" >&times;</a> -->
    <div class="row">
        <div class="col">
            <img src="../../assets/img/image-8@2x.png" alt="">
            <img src="../../assets/img/image-9@2x.png" alt="" class="img">
            <img src="../../assets/img/image-10@2x.png" alt="" class="img">
            <img src="../../assets/img/image-11@2x.png" alt="" class="img">
            <img src="../../assets/img/image-12@2x.png" alt="" class="img">
            <img src="../../assets/img/image-14@2x.png" alt="" class="img">
        </div>
        <div class="col">
            <div class="menu" style="margin-top: 10px;">Dashboard</div>
            <div class="menu m1">My Network</div>
            <div class="menu m1">My Earnings</div>
            <div class="menu m1">E-Pin</div>
            <div class="menu m1">Upgrade</div>
            <div class="menu m1">Logout</div>
        </div>
    </div>
</div>

<div id="main">
</div>